<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel="icon" type="image/png" href="https://img.icons8.com/doodle/80/000000/reddit.png">
        <title>Subreddit Classifier</title>
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="my-5 text-center">
                <a href="https://icons8.com/icon/80596/reddit">
                    <img class="d-block mx-auto mb-4" src="https://img.icons8.com/doodle/96/000000/reddit.png" alt="Reddit icon by Icons8" title="Reddit icon by Icons8" width="72" height="72">
                </a>
                <h2>Which subreddit?</h2>
                <p class="lead">Post on /r/personalfinance or /r/relationship_advice?</p>
            </div>
            <div class="col-md-8 offset-md-2">
                <form action="/" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="postTitle" placeholder="Title" {% if output %} value="{{ postTitle }}" {% endif %} required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="postText" rows="3" placeholder="Text (optional)">{% if output %}{{ postText }}{% endif %}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
                {% if output %}
                <p><div class="card card-body">
                    <h5>Post to <a href="https://www.reddit.com{{ output }}">{{ output }}</a></h5>
                    {% for key, value in proba.items() %}
                    {{ key }}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ value }}%;" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100">{{ value }}%</div>
                    </div>
                    {% endfor %}
                </div></p>
                {% endif %}
            </div>
        </div>  
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>