<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Facebook or Twitter?</title>

</head>

<body>
    <h1>Facebook or Twitter?</h1>
    <p><div>
        <form action="/" method="POST">
            Post text:<br>
            <textarea name="postText" rows="5" cols="50">{% if output %}{{ postText }}{% endif %}</textarea><br><br>
            <input type="submit" value="Submit">
        </form>
    </div></p>
    {% if output %}
    <p><div>
        Post comes from {{ output }}
    </div></p>
    {% endif %}
</body>
</html>